<!--The content below is only a placeholder and can be replaced.-->
<div class="home-wrapper">
  <app-nav></app-nav>
  <div class="home-content">
    <div *ngIf="!stepCompletedFlag; else find">
      <div class="steps-container">
        <div class="steps">
          <div [class.inprogress]="currentStep == 1" [class.selected]="currentStep > 1" class="step">1</div>
          <div [class.inprogress]="currentStep == 2" [class.selected]="currentStep > 2" class="step">2</div>
          <div [class.inprogress]="currentStep == 3" [class.selected]="currentStep > 3" class="step">3</div>
          <div [class.inprogress]="currentStep == 4" [class.selected]="currentStep > 4" class="step">4</div>
        </div>
      </div>
      <app-planets [planets]="displayPlanets" (stepEvent)="planetsOutput($event)"></app-planets>
      <app-vehicles *ngIf="showVehicleFlag" (stepEvent)="vehiclesOutput($event)" [vehicles]="vehicles"></app-vehicles>
      <div *ngIf="stepCompletedFlag" class="next-btn">
        <button class="btn" (click)="stepChanged()">Next</button>
      </div>
    </div>

    <ng-template #find>
      <div class="summary-container">
        <button class="btn">Find Falcone!</button>
      </div>
    </ng-template>
  </div>
</div>
