<div class="vehicle-wrapper">
  <div class="vcard" [class.selected]="vehicle.selected" (click)="selectedVechicle()">
    <div class="img-container">
      <img class="v-img" src="./../../assets/images/vehicles/spaceship.png">
    </div>
    <div class="vcontent">
      <div class="vtitle">{{vehicle.name}}</div>
      <div class="vinfo">{{vehicle.max_distance}} megamiles</div>
      <div class="vinfo">{{vehicle.speed}} megamiles/hour</div>
    </div>
    <div class="vunit">{{vehicle.total_no}}</div>
  </div>
</div>